<html lang="en">
    <%- include('partials/head.ejs')%>
    <title>Document</title>
<body>
    <%- include('partials/header.ejs')%>
    <div>
        <div>
            <h1>welcome back, <%=user.full_name%></h1>
            <p>Mange your medical analysis and get AI-powered insights</p>
        </div>
    </div>
    <div class="AI-insights">
        <img src="/img/ai-insights.png" alt="AI Insights">
        <div class="AI-text">
            <h2>Insight of the Day</h2>
            <p>Based on your Oct 12 report, increasing Magnesium may improve your sleep scores. Consider foods like almonds, spinach, and dark chocolate.</p>
        </div>
    </div>
    <div class="main-profile">
        <div class="main-left-profile">
            <div class="left-text profile_text">
                <h1>Upload Medical Analysis</h1>
                <a href="/pdf-upload-page" class="btn">Upload</a>
            </div>
        </div>
        <div class="main-right">
            <img src="/img/avatar.png" class="foto-profile" alt="foto">
            <p><span>Полное имя:</span><%=user.full_name%></p>
            <p><span>E-mail: </span><%=user.email%></p>
            <%
                if(loginUser.id == user.id){
            %>
                        <a class="edit-btn">Редактировать профиль</a>
            <%
                }
            %>
        </div>
    </div>
    <footer>
        <%- include('partials/footer.ejs')%>
    </footer>
    <%- include('partials/scripts.ejs')%>
</body>
</html>